

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.portfolio-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 2rem;
    background-color: #262525;
    color: #fff;
    padding: 2rem;
    box-sizing: border-box;
}



.navlist {
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
}


.navlist li {
    list-style: none;
}

.navlist li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    position: relative;

}

.navlist li a::after,
.navlist .active::after {
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -1px;
    transform: scaleX(0);
    transition: transform .5s;
}


.navlist li a:hover::after,
.navlist .active::after {
    transform: scaleX(1);
}

.hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.navlist {
    display: flex;
    gap: 3.5rem;
}


.container1 {
    width: 50%;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10rem;
    align-items: center;
    position: relative;
    height:fit-content;
    margin-bottom: 20px;
    border: 5px solid #0ef;
    box-shadow: 0px 0px 15px #0ef, 0px 0px 20px #0ef;
    animation: pulseBorder 2s infinite alternate;
}
@keyframes pulseBorder {
    0% { border-color: #0ef; box-shadow: 0px 0px 10px #0ef; }
    25% { border-color: #aaedf6; box-shadow: 0px 0px 15px #84cdec; }
    50% { border-color: #8beaea; box-shadow: 0px 0px 20px #8ae5f3; }
    75% { border-color: #51b5c7; box-shadow: 0px 0px 15px #2b6a78; }
    100% { border-color: #0ef; box-shadow: 0px 0px 10px #0ef; }
}

.container2 {
    width: 50%;
    margin-top: 10rem;
    margin-right: 3rem;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    height:fit-content;
    border: 5px solid #0ef;
    box-shadow: 0px 0px 10px #0ef, 0px 0px 20px #0ef;
    animation: pulseBorder 2s infinite alternate;
}



.heading1 {
    padding-bottom: 30px;
    width: 100%;
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center;
    border-bottom: 5px solid #0ef;
    box-shadow: 0px 0px 10px #0ef, 0px 0px 20px #0ef;
    animation: pulseBorder 2s infinite alternate;
}

.Technical-bars {
    padding-top: 30px;
    width: 60%;
    max-width: 900px;
    padding-bottom: 35px;
    
}

.bar {
    font-size: 23px;
}

.Technical-bars .bar {
    margin-top: 20px;
}

.Technical-bars .bar:first-child {
    margin-top: 0px;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0px;
}

.Technical-bars .bar .info {
    margin-bottom: 0px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
    margin-top: 0px;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #d8c9c9;
    animation: animate 1s cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(1);
    transform-origin: left;
}

@keyframes animate {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;

}

.progress-line.html span {
    width: 85%;
}

.progress-line.css span {
    width: 85%;
}

.progress-line.javascript span {
    width: 60%;
}

.progress-line.python span {
    width: 80%;
}

.progress-line.flask span {
    width: 85%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #070707;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    top: -30px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "85%";
}

.progress-line.css span::after {
    content: "85%";
}

.progress-line.javascript span::after {
    content: "60%";
}

.progress-line.python span::after {
    content: "80%";
}

.progress-line.flask span::after {
    content: "85%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #050505;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}




.redial-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
}

.redial-bar {
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 140px;
    height: 150px;

}

.progress-bar {
    stroke-width: 10;
    stop-color: rgb(240, 235, 235);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

.progress-bar {
    stroke-width: 10;
    stroke: rgb(235, 227, 227);
    fill: transparent;
}


@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    animation: animate-progress 1s linear forwards;
    opacity: 1;

}



.path-1 {
    animation: animate-path1 1s 1s linear forwards;
    stroke: red;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
    stroke:green;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
    stroke: rgb(247, 154, 4);
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
    stroke: blue;
}



@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 35;
        ;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 50;
        ;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 50;
        ;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 35;
        ;
    }
}



.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 1s 1s linear forwards;
    opacity: 0;
}


.text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    font-size: 15px;
    font-weight: 200;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}


@media(max-width: 900px) {


    .container1 {
        width: 50%;
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 10rem;
        align-items: center;
        position: relative;
        height:fit-content;
        border: solid 5px #0ef;
        margin-bottom: 20px;
    }
    
    .container2 {
        width: 50%;
        margin-top: 10rem;
        margin-right: 1.5rem;
        margin-left: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        border: solid 5px #0ef;
        margin-bottom: 20px;
        height:fit-content;
    }
    
    

    .heading1 {
        padding-bottom: 30px;
        border-bottom: solid 5px #0ef;
        width: 100%;
        text-align: center; 
        display: flex;
        justify-content: center; 
        align-items: center;
        font-size: 25px;
    }
    
    .Technical-bars {
        padding-top: 50px;
        width: 60%;
        max-width: 900px;
        padding-bottom: 30px;
    }   


    
    .redial-bars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
        justify-items: center;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 90px;

    }
    
    .redial-bar {
        width: 150px;
        height: 150px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .radial-bar svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 140px;
        height: 150px;
    
    }

}



@media(max-width: 620px) {

    .navlist {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #262525;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        justify-content: center;
        align-items: center;
        transition: left 0.5s ease;
        
    }


    .navlist.active {
        left: 0;
    }

  
    .hamburger {
        display: block;
        font-size: 2rem;
        color: cyan;
        margin-top: 10px;
        margin-left: 20px;
        position: absolute;
        top: 1rem;
        left: 1rem;
        cursor: pointer;
        z-index: 1001;
    }

    
    .navlist li {
        list-style: none;
        margin: 1.rem 0;
    }

    .navlist li a {
        color: #ffffff;
        font-size: 1.5rem;
        text-decoration: none;
        text-align: center;
    }


    .portfolio-container {
        flex-direction: column;
        align-items: center;
    }

    .container1 {
        margin-top: 60px;
        width: 100%;
        margin-left: 0px;
        padding-bottom: 0px;
        height:fit-content;
    }

    .container2 {
        margin-top: 20px;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        height:fit-content;

    }

    .heading1 {
        padding-bottom: 30px;
        border-bottom: solid 5px #0ef;
        width: 100%;
        text-align: center; /* Text ko center mein lane ke liye */
        display: flex;
        justify-content: center; /* Flex items ko center karne ke liye */
        align-items: center;
    }
    
    .Technical-bars {
        padding-top: 50px;
        width: 70%;
        max-width: 900px;
        padding-bottom: 30px;
    }   


    .redial-bars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
        justify-items: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    
    .redial-bar {
        width: 150px;
        height: 150px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .radial-bar svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        width: 140px;
        height: 150px;
    
    }

}

